.schedule {
  margin-top: 60px;
  margin-bottom: 50px;
}

.scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.now {
  width: 1px;
  position: absolute;
  background-color: #dfa941;
  height: 100vh;
  z-index: 8;
}

.now::after {
  content: "";
  background-color: #dfa941;
  width: 3px;
  height: 30px;
  position: absolute;
  border-radius: 3px;
  left: -1px;
}

.buttonNow {
    right: 20px;
    bottom: 70px;
    z-index: 100;
    color: white;
}
