.scheduleRow {
    border-bottom: 1px solid #2e2e2e;
}
.scheduleRow__logoContainer {
    box-shadow: 7px 0px 4px -3px #00000066;
    position: absolute;
    background-color: #222;
    line-height: 64px;
    z-index: 10;
    padding: 0 10px;
    min-width: 75px;
}
.scheduleRow__logoContainer--border {
    border-bottom: 1px solid #2e2e2e;
}
.scheduleRow__logo {
    width: 45px;
}
.scheduleRow__programs {
    margin-left: 75px;
    position: relative;
    min-height: 64px;
}