.daysTab {
    height: 65px;
}
.daysTab__day {
    display: inline-block;
    padding: 5px 12px;
    color: #999;
}
.daysTab__day--selected {
    color: #eee;
}
.daysTab__dayName , .daysTab__dayInfo {
    display: block;
    line-height: 1.2;
}
.daysTab__dayName {
    font-size: 16px;
}
.daysTab__dayInfo {
    font-size: 13px;
}
.scheduleRow__daysHeader {
    margin-left: 75px;
    min-height: 65px;
    padding: 10px;
}
