
.hour {
    display: inline-block;
    padding: 0 10px;
    line-height: 40px;
}

.hour__date {
    display: block;
    position: relative;
    left: -30px;
}

.hour__date::after {
    content: "";
    background-color: #2e2e2e;
    width: 1px;
    height: 8px;
    position: absolute;
    display: block;
    left: 20px;
    bottom: 0;
  }
  