.program {
  border-left: 1px solid #2e2e2e;
  background-color: #000;
  display: inline-block;
  padding: 8px 10px;
  vertical-align: top;
  min-height: 64px;
}
.program--active {
    background-color: #373737;
}

.program__title,
.program__date {
  display: block;
}

.program__title {
  line-height: 21px;
  font-size: 14px;
  color: white;
}
.program__date {
  line-height: 1;
  font-size: 13px;
}
